<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit Listing</h3>
            <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                    <div class="invalid-feedback">Please enter Title</div>
                    <div class="valid-feedback">Title updated</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="listing[description]" class="form-control" rows="4" required> <%= listing.description %> </textarea>
                        <div class="invalid-feedback">Please enter description</div>
                    <div class="valid-feedback">Description updated</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image url</label>
                    <input type="text" class="form-control" name="listing[image]" value="<%= listing.image.url %>">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="Number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Please enter price</div>
                        <div class="valid-feedback">Price Updated</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" value="<%= listing.country %>" required>
                        <div class="invalid-feedback">Please enter your country</div>
                        <div class="valid-feedback">Country Updated</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>" required>
                    <div class="invalid-feedback">Please enter location</div>
                    <div class="valid-feedback">Location updated</div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>
        </div>
    </div> 
</body>

</html>